import
.App {
  text-align: center;
}

.App-logo {
  max-width: 100%;
  height: auto;
  pointer-events: none;
}

body {
  background-image: url(./bg.jpg);
  background-size: 100% 100%;
  background-position: 50% 50%;
}

.App-header {
  background-color: #e8efff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  color: black;
  overflow: auto;
}

.App-result {
  padding: 20px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.App-container{
  background-color: rgba(255,255,255,.9);
  margin-top: 100px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px；
}

.App-text-area{
  margin-top: 20px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.App-button{
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.App-input{
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
} 

.App-modal {
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
}

/* .App-Description {
  border-color: rgb(0, 0, 0);
  background-color: transparent; 
  color: rgb(181, 182, 182); 
  text-align: justify; 
  letter-spacing: 0px; 
  text-decoration: none; 
  font-style: normal; 
  font-family: FZSSJW_1062132793; 
  border-radius: 0px; 
  border-width: 0px; 
  font-size: 12px; 
  line-height: 16px; 
  opacity: 1; 
  border-style: solid; 
  font-weight: normal;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
